h1 {
  text-align: center;
  padding: 10px;
}
p {
  margin: 0;
  padding: 10px;
  
}
.mainblock {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}
.block {
  width: 100%;
  border: 1px solid lightgray;
}
@media screen and (min-width: 1024px) {
  .mainblock {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainblock {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 320px) {
  .mainblock {
    grid-template-columns: 1fr;
  }
}

